<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url}}/web/css/jukeinthebox.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<div class="mainContainer">	
			<h1>Ajouter une musique</h1>
			<div class="buttons">
					<a href="{{url}}/"><div class="button">Accueil</div></a>
					<a href="{{url}}/ListCatalogue"><div class="button">Retour à la liste des musiques </div></a>
			</div>
			<div class="error">
			{{error}}
			</div>
			<div class="row">
				<div class="col-6">
					<form  action='{{url}}/ListCatalogue' method='post' enctype='multipart/form-data'>
						<fieldset class="col-12">
							<legend>Piste associée à un album :</legend>
							<div class="card">
									<div class="card-body">
										<div class="form-group row">

											<div class="itemForm" id="item">
												<div class="row">
													<div class="m-auto">
														<label class="col-form-label" for="artiste">Artiste</label>
														<input  id="artiste" type="radio" name="personne" value="Artiste" onclick="AffichagePrenomArtiste()" checked>
													</div>
													<div class="m-auto">
														<label class="col-form-label" for="groupe">Groupe</label>
														<input id="groupe" type="radio" name="personne" value="Groupe" onclick="AffichagePrenomArtiste()"  required>
													</div>

													
												</div>
											</div>
											<h5>Musique</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>


											<div class="itemForm item">
												<div class="form-group row">
														<label class="col-4 col-form-label" for="nomPiste">Titre</label>
														<div class="col-8">
															<input class="form-control" id="nomPiste" type="text" name="nomPiste" required>
														</div>
												</div>
											</div>

											<div class="itemForm item" >
												<div class="form-group row">
													<label class="col-4 col-form-label" for="genrePiste">Genre de la piste</label>
													<div class="col-8">
														<input id="genrePiste" type="text" name="genrePiste" required>
													</div>	
												</div>	
											</div>

											<div class="itemForm item">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="imagePiste">Image associée à la piste</label>
													<div class="col-8">
														<input id="imagePiste" type="text" name="imagePiste">
													</div>
												</div>
											</div>

											<div class="itemForm item">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="anneePiste">Année de la piste</label>
													<div class="col-8">
														<input id="anneePiste" type="number" name="anneePiste" required>
													</div>
												</div>
											</div>

											
											<h5>Album</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>
											<div class="itemForm item">
												<div class="form-group row">

														<label class="col-4 col-form-label" for="album">Album</label>

													<div class="col-8">
														<input id="album" class="form-control" type="text" name="album" required>
													</div>
												</div>
											</div>

											<div class="itemForm item" >
												<div class="form-group row">
													<label class="col-4 col-form-label" for="imageAlbum">Image associée à l'album</label>
													<div class="col-8">
														<input id="imageAlbum" type="text" name="imageAlbum">
													</div>
												</div>
											</div>

											<div class="itemForm item" >
												<div class="form-group row">
													<label class="col-4 col-form-label" for="anneeAlbum">Année de l'album</label>
													<div class="col-8">
														<input id="anneeAlbum" type="number" name="anneeAlbum">
													</div>
												</div>
											</div>
											
										

											

											<h5>Artiste</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>

											<div class="itemForm item" >
												<div class="form-group row">
													<label class="col-4 col-form-label" for="nomArtiste" id="labelNomArtiste">Nom de l'Artiste</label>
													<div class="col-8">
														<input id="nomArtiste" type="text" name="nomArtiste" required>
													</div>
												</div>
											</div>

											<div class="itemForm item" id="radio">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="prenomArtiste">Prénom de l'Artiste</label>
													<div class="col-8">
														<input id="prenomArtiste" type="text" name="prenomArtiste">
													</div>
												</div>
											</div>
											<h5>Fichier</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>

											<div class="itemForm item" >
												<div class="form-group row">
													<label class="col-4 col-form-label" for="upload_widget">Fichier mp3</label>
													<div class="col-8">
														<input id="upload_widget" type="button" class="cloudinary-button" value="Upload files*"/>
														<label class="">*Seuls les fichiers mp3 sont acceptés</label>
														
													</div>
													
												</div>
											</div>

											

											

											<button type="submit" class="m-auto" id="ajouterMusique" disabled >Ajouter une musique</button>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>

					<div class="col-6">
					<form action='{{url}}/ListCatalogue' method='post' enctype='multipart/form-data'>
						<fieldset class="col-12">
							<legend>Album :</legend>
								<div class="card">
									<div class="card-body">
										<div class="form-group row">

											<div class="itemForm item" >
												<div class="row">

													<div class="m-auto">
														<label class="col-form-label" for="artisteAlbum">Artiste</label>
														<input  id="artisteAlbum" type="radio" name="personneAlbum" value="Artiste" onclick="" checked>
													</div>
													<div class="m-auto">
														<label class="col-form-label" for="groupeAlbum">Groupe</label>
														<input id="groupeAlbum" type="radio" name="personneAlbum" value="Groupe" onclick=""  required>
													</div>

													
												</div>
											</div>
											<h5>Album</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>

											<div class="itemForm item" >
												<div class="form-group row">

														<label class="col-4 col-form-label" for="album">Album</label>

													<div class="col-8">
														<input id="titreAlbum" class="form-control" type="text" name="titreAlbum" required>
													</div>
												</div>
											</div>

											<div class="itemForm item">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="imageAlbum2">Image associée à l'album</label>
													<div class="col-8">
														<input id="imageAlbum2" type="text" name="imageAlbum2">
													</div>
												</div>
											</div>


											<div class="itemForm item" >
												<div class="form-group row" >
													<label class="col-4 col-form-label" for="genre_album">Genre de l'album</label>
													<div class="col-8">
														<input id="genreAlbum" type="text" name="genreAlbum" required>
													</div>	
												</div>	
											</div>

											<div class="itemForm item">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="anneeAlbum2">Année de l'album</label>
													<div class="col-8">
														<input id="anneeAlbum2" type="number" name="anneeAlbum2" required>
													</div>
												</div>
											</div>
											<h5>Artiste</h5> <hr style="width: 100%; display:inline-block; color:black; height: 0.5px;"/>

											<div class="itemForm item">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="nom_artiste">Nom de l'Artiste</label>
													<div class="col-8">
														<input id="nomArtisteAlbum" type="text" name="nomArtisteAlbum" required>
													</div>
												</div>
											</div>

											<div class="itemForm item" id="radio">
												<div class="form-group row">
													<label class="col-4 col-form-label" for="prenom_artiste">Prénom de l'Artiste</label>
													<div class="col-8">
														<input id="prenomArtiste" type="text" name="prenomArtisteAlbum">
													</div>
												</div>
											</div>

										<button type="submit" class="m-auto">Ajouter un album</button>
								</div>
							</div>
						</div>
						</fieldset>
					</form>
				</div>
			</div>	
		</div>
	<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
	<script>

		function AffichagePrenomArtiste()
		{
			var radios = document.getElementsByName('personne');
			var element = document.getElementById('radio');

			var valeur;
			
			for(var i = 0; i < radios.length; i++)
			{
				if(radios[i].checked){
					valeur = radios[i].value;
					if(valeur == "Artiste")
					{
						document.getElementById('radio').required = false;
						element.classList.remove("personne");
						document.getElementById('labelNomArtiste').innerText = 'Nom de l\'Artiste';
						
						
					}
					else{
						element.classList.add("personne");
						document.getElementById('radio').required =true;
						console.log(document.getElementById('labelNomArtiste'));
						document.getElementById('labelNomArtiste').innerText = 'Nom du Groupe';
					}
				}
			}
			
		}
		document.getElementById("upload_widget").addEventListener("click", function(){

			var champ_obligatoire = [ 'nomPiste', 'album', 'genrePiste', 'nomArtiste','anneePiste'];
			var champ_plein = true;
			var tableau_valeur = [];
			for (var cat of champ_obligatoire)
			{
				valeur = document.getElementById(cat).value.trim().normalize().replace(/[\W ]/g, '')
				champ_plein &= !((valeur.length == 0) || (valeur == "") || (valeur == "NULL"));
				tableau_valeur[cat] = valeur;
				
			}

			if (champ_plein) {
				var public = tableau_valeur['nomArtiste'].toLowerCase().split(' ');
				for(let i = 0; i < public.length; i++) {
					public[i] = public[i].charAt(0).toUpperCase() + public[i].slice(1);
				}
				public = public.join('');
				public +=  '-';
				public += tableau_valeur['nomPiste'].replace(/ /g,"_");

				cloudinary.createUploadWidget({
				cloudName: 'lesporos',
				apiKey: 414295376186362,
				uploadPreset: 'qqvpmjsb',
				folder: 'musique',
				sources: [ 'local'],
				publicId: public,
				clientAllowedFormats: ["mp3"]
				}, (error, result) => {
					if (result && result.event === "success") {
						console.log(result);
						document.getElementById("ajouterMusique").disabled = false;

						
						// do something
					}
				}).open();
			}


		}, false);




			
		</script>
	</body>

</html>